body {
    background-image: linear-gradient(rgb(167, 208, 221),rgb(248, 176, 168));
}  

.buttons{
    display: flex;
}

.button{
    display: flex;
    flex: 30%;
    border: none;
    color: white;
    padding: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    height: 100%;
}