body {
    background-image: linear-gradient(rgb(167, 208, 221),rgb(248, 176, 168));
}

.con{
    display:flex;
    padding: 50px;
}

.information{
    display: inline-block;
    width: 1100px;  
    color: whitesmoke; 
    font-size: 20px;
    height: 1000px;
}